<%- include("headerHome")  %>

<body>

    <h3>We are sorry to see you leave, we'll miss you.</h3>
    <form action="/old/deleteuser" method="post">

        <input type="text" placeholder="username" name="userName" required><br>
        
        <button type="submit">Post</button>

    </form>
</body>