<%- include("headerHome")  %>

<form action="/" method="post">


<label for=""><input type="checkbox" name="option" value="n">New User</label>

<label for=""><input type="checkbox" name="option" value="o">Existing User</label>

<button type="submit">Submit</button><br><br>

<a href="http://localhost:3000/old/allposts" style="text-decoration: none">All posts</a><br><br>

<a href="http://localhost:3000/old/newpost" style="text-decoration: none">Make a new post!</a>




</form>
